@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #17000b;
    --text-color: #ededed;
    --secondary: #890042;
    --tertiary: #7EBFB3;
    --my-work: rgba(99, 255, 226, 0.474);
}

* {
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--primary);
    overflow-y: visible;
}

img {
    width: 100%;
}

/* navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--primary);
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--secondary);
}

/* home */

.home {
    background: url('../images/background.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home .content {
    max-width: 600px;
}

.home .content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.2;
}

.home .content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    cursor: pointer;
}

.home .content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    color: var(--secondary);
}

.home .content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    cursor: pointer;
    animation-delay: 1.3s;
}

.home .content p {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0 40px;
}

.home .content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home .content .btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home .content .btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;
}

.home .content .btn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 19px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home .content .btn a:hover {
    color: var(--secondary);
}

.home .content .btn a:nth-child(2) {
    background: transparent;
    color: var(--secondary);
}

.home .content .btn a:nth-child(2):hover {
    color: var(--text-color);
}

.home .content .btn a:nth-child(2)::before {
    background: var(--secondary);
}

.home .content .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary);
    z-index: -1;
    transition: .5s;
}

.home .content .btn a:hover::before {
    width: 100%;
}

.home .social {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home .social::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home .social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home .social a:hover {
    color: var(--text-color);
}

.home .social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    transition: 0.5s;
}

.home .social a:hover::before {
    width: 100%;
}

.home .img-hover {
    position: absolute;
    top: 0;
    right: 150px;
    width: 750px;
    height: 100%;
    background: transparent;
    transition: .3s;
    animation: manipActiveeHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home .img-hover:hover {
    background: var(--primary);
    opacity: 0.8;
}

.home .img-hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* about */

.about {
    max-width: 1440px;
    margin: 0 auto;
    padding: 90px 0;
}

.about .content .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 2;
}

.about .content .two-col-grid img {
    position: relative;
    z-index: 2;
}

.about .content .two-col-grid::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    background-color: #4EA696;
    width: calc(50% - 60px);
    height: 100%;
    z-index: 1;
}

.about .content .two-col-grid h1 {
    margin-top: 4px;
    margin-bottom: 24px;
    color: var(--secondary);
}

.about .content .two-col-grid .intro {
    color: var(--tertiary);
    font-weight: 700;
    text-align: justify;
}

.about .content .two-col-grid .btn-cv {
    margin-top: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.about .content .two-col-grid .btn-cv::before {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
}

.about .content .two-col-grid .btn-cv a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 19px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about .content .two-col-grid .btn-cv a:hover {
    border: 2px solid var(--tertiary);
}

.about .content .two-col-grid .btn-cv a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--tertiary);
    z-index: -1;
    transition: .5s;
}

.about .content .two-col-grid .btn-cv a:hover::before {
    width: 100%;
}

/* work */

.my-work {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-work .title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 24px;
}

.my-work .title h1 {
    position: relative;
    font-size: 40px;
    margin-bottom: 24px;
    display: inline-block;
}

.my-work .title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background: var(--secondary);
}

.my-work .title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tertiary);
}

.my-work .content {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.my-work .content .work-content .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.my-work .content .work-content .slide img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.my-work .content .work-content .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.my-work .content .work-content .slide span {
    font-size: 18px;
    font-weight: 600;
    color: var(--tertiary);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--tertiary) !important;
}

.swiper-pagination-bullet {
    background: var(--tertiary) !important;
}

/* skills */

.skills {
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    margin-top: 24px;
}

.skills .title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}

.skills .title h1 {
    position: relative;
    font-size: 40px;
    margin-bottom: 24px;
    display: inline-block;
}

.skills .title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background: var(--secondary);
}

.skills .title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tertiary);
}

.skills .content {
    display: flex;
    width: 100%;
    align-items: center;
}

.skills .content .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.skills .content .row .col {
    flex-basis: 90%;
}

.skills .content .row .col .skills-container .skill .skill-title {
    font-size: 18px;
    font-weight: thin;
    padding-bottom: 15px;
    text-transform: lowercase;
}

.skills .content .row .col .skills-container .skill .progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--text-color);
    border-radius: 15px;
    margin-bottom: 20px;
}

.skills .content .row .col .skills-container .skill .progress-bar::after {
    position: absolute;
    content: attr(value);
    right: 0;
    top: -35px;
    color: var(--text-color);
    font-size: 18px;
}

.skills .content .row .col .skills-container .skill .progress-line {
    position: absolute;
    width: 100%;
    height: 7px;
    background: var(--tertiary);
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

.skills .content .row .col .skills-container .skill .progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary);
}

/* contact-form */

.contact-form {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: -50px;
}

.contact-form .wrapper {
    width: 60%;
}

.contact-form .heading {
    position: relative;
    font-size: 40px;
    margin-bottom: 24px;
    display: inline-block;
}

.contact-form .heading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background: var(--secondary);
}

.contact-form .heading::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tertiary);
}


.contact-form .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form .form input,
textarea {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.1rem solid var(--text-color);
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    outline: none;
    border-radius: 8px;
}

.contact-form .form input:focus {
    color: var(--text-color);
    border: 0.1rem solid var(--text-color);
}

.contact-form .form input::placeholder {
    color: var(--text-color);
}

.contact-form .form textarea {
    height: 300px;
    resize: none;
    color: var(--text-color);
}

.contact-form .form button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 19px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/* footer */
footer {
    text-align: center;
    padding: 1% 1%;
    background-color: var(--tertiary);
    color: var(--secondary);
}

footer a {
    text-decoration: none;
    color: var(--secondary);
}

/* keyframes */

@keyframes animate {
    100% {
        width: 100%;
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveeHover {
    100% {
        pointer-events: auto;
    }
}

/* media */

@media only screen and (max-width: 1000px) {

    .home .img-hover {
        right: 0;
        width: 400px;
    }

    .home .content h1,
    h3,
    p {
        z-index: 2;
    }
}

@media only screen and (max-width: 600px) {

    .home {
        background: url('../images/background.png') no-repeat;
        background-size: contain;
        background-position: bottom;
        width: 100%;
        height: 85vh;
        display: flex;
        padding: 20% 10%;
        flex-direction: column;
    }

    .home .content h1 {
        font-size: 28px;
    }

    .home .content h3 {
        font-size: 24px;
    }

    .home .content p {
        font-size: 14px;
    }

    .home .content .btn {
        display: flex;
        flex-direction: column;
        width: 345px !important;
        height: 100px !important;
    }

    .home .content a {
        width: 150px;
        height: 50px;
        margin: 5px;
    }

    .home .social {
        position: initial;
        display: flex;
        margin-top: 24px;
        margin-left: 0;
    }

    .home .img-hover {
        display: none;
    }

    .navbar {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .skills {
        padding: 30px 8%;
    }

    .skills .content {
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 30px;
        text-align: center;
        font-size: 15px;
    }

    .about .content .two-col-grid img {
        display: none;
    }

    .about .content .two-col-grid::before {
        display: none;
    }

    .my-work {
        padding: 10% 10%;
        margin-bottom: 50px;
    }

    .my-work .title h1 {
        font-size: 24px;
    }

    .my-work .content .work-content .slide {
        row-gap: 10px;
    }

    .my-work .content .work-content .slide p {
        padding: 0 12%;
        font-size: 12px;
    }

    .my-work .content .work-content .slide img {
        margin-top: 35px;
    }

    .swiper-pagination {
        display: none;
    }

    .skills .title h1 {
        font-size: 24px;
    }

    .slider__inner {
        height: unset;
    }

    .contact-form .wrapper h2 {
        font-size: 24px;
    }

    .contact-form .form button {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: var(--primary);
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .navbar {
        display: none;
        height: 100vh;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: var(--secondary);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: var(--tertiary);
        color: var(--text-color);
    }

    /* Style the active link (or home/logo) */
    .topnav .active {
        background-color: var(--tertiary);
        color: var(--text-color);
    }

    .header {
        display: none;
    }

    .home .content p {
        margin: 5px;
    }

    .home .content .btn {
        width: 200px;
        height: 30px;
        justify-content: space-between;
    }

    .home .content .btn a {
        font-size: 10px;
    }

    footer {
        padding: 3% 1%;
        font-size: 12px;
    }
}